* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
}
h1{
 font-size: 35px;
 margin: 20px 0px;
}

/* logo revoult */

.header-left img {
   height: 40px;
   width: 200px;
 }
.wrapper{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: black;
}
.wrapper a{
  text-decoration: none;
  color: grey;
}
/* hover con variazione colore */
.wrapper a:hover {
  color:white;
}
/* header sinistra*/
.header-left {
  margin-left: 130px;
  width: 25%;
  display: flex;
  align-items: center;
}

/*header destra gen*/
.header-right {
  width: 85%;
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right > ul li{
  display: inline-block;
  color: grey;
  padding: 15px;
}
.header-right ul li:hover {
  color:white;
}
/* rettangolino giallo navbar */
.new{
  background-color: yellow;
  padding:6px;
  text-align: center;
  border-radius: 2px;
  margin-left: 5px;
}
/* bottone*/
.header-right button {
  background-color: #4154fe;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 15px;
  border: none;
}
/* sezione ragazza con cuffia */
.contenitore{
  height: 500px;
}
.img{
  background-image:url(../img/ragazzaconlecuffie.jpg);
  background-size: 100% 100%;
  box-shadow: inset  800px 0px  100px black;
}

.colore{
  width: 70%;
  margin: auto;
  position: relative;
}

.testo{
 color: white;
 position: absolute;
 top: 110px;
 left: -100px;
}
/* fas fa water  */
.fa-water{
  font-size: 50px;
  margin-bottom: 20px;
  color:lightgreen;
}
.cubo{
  font-size: 25px;
  color: #ffff;
}
/* ******** */
.bigplay{
  color: white;
  position: absolute;
  top: 100px;
  right: -400px;
}
.bigplay i{
  font-size: 20px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 30px;
}
.testo h2{
  font-size: 20px;
  color:#bc0428;
  margin: 20px 0px;
}
.testo p{
  font-size: 17px;
  color: #bcbcbc;
  margin-top: 15px;
}
.testo button.visit{
  background-color: #4154fe;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  margin-top: 25px;
}
.testo button.buy{
  background-color: black;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  margin: 25px;
  border: 3px solid #78787a;
}
.rettangolo{
  height: 80px;
  background-color: green;
  border-bottom: 3px solid #33475B;
  border-top: 3px solid #33475B;
  background-color: #42FFC7;5
}
/* tre immagini crossfit new gym team training */
.arcobaleno{
  height:900px;
  background: linear-gradient(142deg, rgba(28,13,205,1) 0%, rgba(28,9,143,1) 0%, rgba(126,28,114,1) 45%, rgba(232,48,48,1) 75%, rgba(227,15,30,1) 84%, rgba(182,20,32,1) 100%, rgba(252,176,69,1) 100%);
}
.cubo3{
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.cubo3 h2{
  color: white;
}
.cubo3 h3{
  color: yellow;
}
.crossfit{
  background-image:url(../img/crossfitworkout.jpg);
  width: 22%;
  display: inline-block;
  margin-left: 50px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  height: 400px;
  background-size: 100% 100%;
  box-shadow: inset  0px -97px 128px black;
}
.newGym{
  background-image:url(../img/accessori.jpg);
  width: 22%;
  display: inline-block;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  height: 400px;
  background-size: 100% 100%;
  box-shadow: inset  0px -97px 128px black;
}
.teamTraining{
  background-image:url(../img/pallamedica.jpg);
  width: 22%;
  display: inline-block;
  margin-right: 50px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  height: 400px;
  background-size: 100% 100%;
  box-shadow: inset  0px -97px 128px black;
}
.testoCubo3{
  margin-top: 80%;
}
.citazione{
  margin-top: 15px;
}
.citazione :first-child{
  margin-top: 50px;
}
.arcobaleno h1{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.user ul{
  align-self: center;
  display: flex;
  list-style: none;
  justify-content:center;
  margin-bottom: 20px;
}
.user img{
  max-width: 40px;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}
.user p{
  align-self: center;
  cursor: pointer;
  padding-left: 10px;
  color:#bcbcbc;
}
p.nome{
  color:white;
  font-size: 18px;
}
/* sezione video + testo e link youtube  */
.sezioneYoutube{
  width: 100%;
  height: 800px;
}

.sezione-s{
  float: left;
  width: 45%;
  text-align: left;
  position: relative;
}
.sezione-s i{
  font-size: 15px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 30px;
  position: absolute;
}
.sezione-d {
  float: right;
  width: 40%;
  text-align: left;
  margin: 100px 50px;
}
.sezione-d > * {
    margin: 20px 0;
}
.sezione-d h2{
  font-size: 15px;
  color: #4321aa;
}
.sezione-d h1{
  font-size: 40px;
}
.sezione p{
  color:#78787a;
}
.sezione-s{
  position: relative;
}
.overlayGrande{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.sezione-s img {
  width: 100%;
  border-radius: 0px 0px 10px 0px;
}

.sezione-d button.red{
  background-color: red;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  margin-top: 25px;
}
button.youtubeChannel{
  color:white;
  background: red;
  align-self: center;
  border: none;
  padding: 5px 11px;
  border-radius: 2px;
}
.fusionChannel{
  align-self: center;
  display: flex;
  list-style: none;
}
section.buttonSubscribe{
  width: auto;
  height: auto;
  border: 0.5px solid #bcbcbc;
  margin:7px 0px 0px 8px;
  border-radius: 2px;
}
small.iscritti{
  background: #ffff;
  color: #78787a;
  padding: 5px 7px;
  font-size: 12px;
}
small.nomeChannel{
  color: #78787a;
  margin-left: 8px;
}
/* sezione tre video */

.treVideo{
  width: 80%;
  margin: auto;
  height: 350px;
}

.video{
  width: 32%;
  display: inline-block;
  margin: auto;
  text-align:center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.imgvideo{
  position: relative;
}
.imgvideo img{
  width: 65%;
  height: 50%;
  border-radius: 0px 0px 10px 0px;
}

.titolo{
  font-size:15px;
  margin: 10px;
}

.descrizione{
  font-size: 12px;
  color: #4321aa;
  margin-bottom: 30px;
}
.overlay{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.overlay i{
  font-size: 11px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 17px;
}
/* sezione tre ragazze */
.treragazze{
  background-image: url(../img/tretipe.jpg);
  width: 100%;
  height: 600px;
}
button.suscribe{
  background-color: #4154fe;
  color: white;
  padding: 16px 20px;
  border-radius: 25px;
  margin-left: 15px;
  border: none;
}
.testo input{
  padding: 16px;
  width: 65%;
  border-radius: 25px;
  border: none;
  color:#78787a;
  margin-bottom: 25px;
}
