* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}
input,
button{
  outline: none;
}
button,
i,
a{
  cursor: pointer;
}
/* logo revoult */

.header-left img {
   height: 40px;
   width: 200px;
 }
.wrapper{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: black;
}
.wrapper a{
  text-decoration: none;
  color: grey;
}
/* hover con variazione colore */
.wrapper a:hover {
  color:white;
}
/* header sinistra*/
.header-left {
  margin-left: 130px;
  width: 25%;
  display: flex;
  align-items: center;
}

/*header destra gen*/
.header-right {
  width: 85%;
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right > ul li{
  display: inline-block;
  color: grey;
  padding: 15px;
}
.header-right ul li:hover {
  color:white;
}
.header-right button:hover{
  color:white;
  background-color: #bc0428;
}
/* rettangolino giallo navbar */
.new{
  background-color: yellow;
  padding:6px;
  text-align: center;
  border-radius: 2px;
  margin-left: 5px;
}
/* bottone*/
.header-right button {
  background-color: #4154fe;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
}
/* contenitoreOver */
.contenitoreOver{
  width: auto;
  position: relative;
}
/* sezione ragazza con cuffia */
.contenitore{
  height: 600px;
}
.img{
  background-image:url(../img/ragazzaconlecuffie.jpg);
  background-size: 100% 100%;
  box-shadow: inset  800px 0px  100px black;
}
.colore{
  width: 70%;
  margin: auto;
  position: relative;
}
.testo{
 color: white;
 position: absolute;
 top: 110px;
 left: -100px;
}
.testo > *{
  padding-bottom: 25px;
}
.testo h2{
  font-size: 20px;
  color:#bc0428;
}
.testo p{
  font-size: 17px;
  color: #bcbcbc;
}
.testo button.visit{
  background-color: #4154fe;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  border: 3px solid #4154fe;

}
.testo button.visit:hover{
  background:#bc0428;
  border: 3px solid #bc0428;
}
.testo button.buy{
  background-color: black;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  margin: 25px;
  border: 3px solid #78787a;
}
.testo button.buy:hover{
  background: #ffff;
  color: black;
  border: 3px solid #ffff;
}
/* fas fa water  */
.fa-water{
  font-size: 50px;
  color:lightgreen;
}
.cubo{
  font-size: 25px;
  color: #ffff;
}
/* ******** */
/* elemento play video  */
.bigplay{
  color: white;
  position: absolute;
  top: 100px;
  right: -400px;
}
.bigplay i{
  font-size: 20px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 30px;
}
/* ********** */
/* tre immagini crossfit new gym team training */
.arcobaleno{
  height:900px;
  background: linear-gradient(142deg, rgba(28,13,205,1) 0%, rgba(28,9,143,1) 0%, rgba(126,28,114,1) 45%, rgba(232,48,48,1) 75%, rgba(227,15,30,1) 84%, rgba(182,20,32,1) 100%, rgba(252,176,69,1) 100%);
}
.cubo3{
  display: flex;
  justify-content: space-around;
}
.cubo3 h2{
  color: white;
}
.cubo3 h3{
  color: yellow;
}
.immaginiMeta{
  width: 22%;
  display: inline-block;
  margin-left: 50px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  height: 400px;
  background-size: 100% 100%;
  box-shadow: inset 0px -45px 57px #000;
}
.crossfit{
  background-image:url(../img/crossfitworkout.jpg);
  margin-left: 50px;
  position: absolute;
  top: 525px;
  left: 10%;
}
.newGym{
  background-image:url(../img/accessori.jpg);
  position: absolute;
  top: 525px;
}
.teamTraining{
  background-image:url(../img/pallamedica.jpg);
  margin-right: 50px;
  position: absolute;
  top: 525px;
  right: 7%;
}
.testoCubo3{
  margin-top: 80%;
}
.citazione{
  margin-top: 420px;
}
.arcobaleno h1{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.user ul{
  align-self: center;
  display: flex;
  list-style: none;
  justify-content:center;
  margin-bottom: 20px;
}
.user img{
  max-width: 40px;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}
.user p{
  align-self: center;
  cursor: pointer;
  padding-left: 10px;
  color:#bcbcbc;
}
p.nome{
  color:white;
  font-size: 18px;
}
/* sezione video + testo e link youtube  */
.sezioneYoutube{
  width: 100%;
  height: 750px;
}
.sezione-s{
  float: left;
  width: 45%;
  text-align: left;
  position: relative; /*per playbutton su immagine  */
}
.sezione-s{
  position: absolute; /*per posizione del immagine nel sito*/
  top: 1380px;
  left:0%;
}
.sezione-s i{
  font-size: 15px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 30px;
  position: absolute;
}
.sezione-d {
  float: right;
  width: 40%;
  text-align: left;
  margin: 100px 50px;
}
.sezione-d > * {
    margin: 20px 0;
}
.sezione-d h2{
  font-size: 15px;
  color: #4321aa;
}
.sezione-d h1{
  font-size: 40px;
}
.sezione p{
  color:#78787a;
}

.overlayGrande{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.sezione-s img {
  width: 100%;
  border-radius: 0px 0px 10px 0px;
  box-shadow: inset 0px -71px 475px black;
}

.sezione-d button.red{
  background-color: red;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  margin-top: 25px;
}
button.youtubeChannel{
  color:white;
  background: red;
  align-self: center;
  border: none;
  padding: 5px 11px;
  border-radius: 2px;
}
button.red:hover{
  background: #4257fe;
}
.fusionChannel{
  align-self: center;
  display: flex;
  list-style: none;
}
section.buttonSubscribe{
  width: auto;
  height: auto;
  border: 0.5px solid #bcbcbc;
  margin:7px 0px 0px 8px;
  border-radius: 2px;
}
small.iscritti{
  background: #ffff;
  color: #78787a;
  padding: 5px 7px;
  font-size: 12px;
}
small.nomeChannel{
  color: #78787a;
  margin-left: 8px;
}
/* titolo + link  */
.titololink{
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  transition: transform .3s;
}
.titololink > *{
  color: black;
  text-decoration: none;
  align-self: baseline;
}
.titololink a:hover{
  transform: scale(1.2);
}
.immagini{
  width: 87%;
  margin-top: 40px;
}
/* sezione tre video */

.treVideo{
  width: 90%;
  margin: auto;
  height: 430px;
  display: flex;
  justify-content: space-around;
}
.video{
  width: 32%;
  display: inline-block;
  margin: auto;
  text-align:center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.imgvideo{
  position: relative;
}
.imgvideo img{
  width: 100%;
  border-radius: 0px 0px 10px 0px;
}

.titolo{
  font-size:18px;
  margin-top: 10px;
}

.descrizione{
  font-size: 15px;
  color: #4321aa;
  padding: 10px;
  margin-bottom: 30px;
}
.overlay{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.overlay i{
  font-size: 11px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 17px;
}
/* sezione tre ragazze */
.treragazze{
  background-image: url(../img/tretipe.jpg);
  width: 100%;
  height: 600px;
}
button.suscribe{
  background-color: #4154fe;
  color: white;
  padding: 16px 20px;
  border-radius: 25px;
  margin-left: 15px;
  border: none;
}
button.suscribe:hover{
  background-color: black;
  color: white;
  border: 3px solid #78787a;
}
.testo input{
  padding: 16px;
  width: 65%;
  border-radius: 25px;
  border: none;
  color:#78787a;
  margin-bottom: 25px;
}
/* sezione rettangoli fluo */
.background{
  background: black;
  width: 100%;
  height: 600px;
}
.rettangoli{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rettangolo{
  width: 28%;
  height: 400px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #4321aa;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;

}
.rettangolo i{
  color: white;
  font-size: 40px;
  padding-top: 50px;
}
.rettangolo h1{
  color: white;
  font-size:18px;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}
a.link {
  text-decoration: none;
  color: #ffff;
}

h2.yellow{
  font-size: 15px;
  color:yellow;
  padding-top: 10px;
}
.descrizioneRettangoli{
  font-size: 13px;
  color: #78787a;
  padding: 30px 5px 15px 20px;
  line-height: 21px;
}
/* sezione tre foto con testo  */
.imgfoto{
  position: relative;
}
.imgfoto img{
  width: 92%;
  margin-bottom: 20px;
}
h2.foto{
  font-size: 18px;
  color:black;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
p.foto{
  font-size: 15px;
  color: #78787a;
  text-align: left;
  margin-left: 20px;
}
/* zona immagine failed citazione */
.failed{
  background-image: url(../img/banner2.jpg);
  box-shadow:inset 136px -195px 710px #000;
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}
.overlayBanner{
  position: absolute;
  display: block;
  align-items: center;
  height: 65%;
  width: 100%;
}
.overlayBanner > *{
  margin-bottom: 40px;
}
.overlayBanner h1{
  color: white;
  font-size: 50px;
}
.overlayBanner i{

}
.overlayBanner p{
  color:#bcbcbc;
  font-size: 25px;
  line-height: 30px;
}
/* sezione sponsor */
.sponsors{
  width: 90%;
  margin: auto;
  height: 450px;
  display: flex;
  justify-content: space-around;
}
.sponsor{
  width: 20%;
  display: inline-block;
  margin: auto;
  text-align:center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.imgsponsor{
  position: relative;
}
.imgsponsor img{
  width: 50%;
  border-radius: 0px 0px 10px 0px;
}
.sponsor a{
  color:black;
  text-decoration: none;
  font-size: 15px;
}
i.mezzo{
  color: #4257ef;
  margin-top: 20px;
}
p.testosponsor{
  font-size: 13px;
  color: #78787a;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}
/* sezione banner banca */
.panca{
  background:
  linear-gradient( rgb(22 19 219 / 35%),
  rgb(22 19 219 / 35%),
  rgb(22 19 219 / 35%),
  rgb(120 8 8 / 78%)),
  url(../img/panca.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
}
.overlayBanner{
  position: absolute;
  display: block;
  align-items: center;
  height: 50%;
  width: 100%;
}
.overlayBanner > *{
  margin-bottom: 30px;
}
.overlayBanner h2{
  color: yellow;
  font-size: 30px;
}
.overlayBanner a{
  color:white;
  font-size: 18px;
  text-decoration: none;
}
i.fas.fa-play.workout{
  font-size: 20px;
  color: #4154fe;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 35px;
  cursor: pointer;
}
/* SEZIONE FOOTER */

footer{
  width: 100%;
  height:auto;
  background-color: black;
}
.contact{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align:center;
  height: auto;
}
.rettangoloContact{
  width: 32%;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 60px 0px 60px 0px;
}
.rettangoloContact img{
  width: 210px;
}
.rettangoloContact h1{
  color:white;
  font-size: 22px;
  margin-top: 5px;
}
.rettangoloContact h2{
  color:white;
  font-size: 18px;
}
.descrizioneContact{
  font-size: 18px;
  color: #bcbcbc;
  padding: 30px 5px 15px 30px;
  line-height: 21px;
}
.iconeSocial{
  display:inline-block;
  margin: 20px 0px 0px 35px;
}
.iconeSocial i{
  color:#bc0428;
  padding-right: 10px;
  font-size: 18px;
}
.recent :first-child{
  margin-top: 20px;
}
li.recentPost{
  margin-bottom: 15px;
  transition: transform .3s;
}
li.recentPost:hover{
  transform: scale(1.1);
}
.rettangoloContact a{
  color: white;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
/* zona Copyright */
.copyright{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100px;
}
.copyright p{
  padding: 0px;
  font-size: 15px;
}
.copyrightBianchi{
  color:white;
  padding: 0px 1px 0px 1px;
}
