<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div id="app">

      <header>
        <!--nav bar  -->
        <section class="wrapper">
        <!-- heade parte sinistra logo -->
          <div class="header-left">
            <img src="img/logo.png" alt="LOGO">
          </div>
        <!-- header parte destra 6 voci + bottone + 2 icone   -->
          <div class="header-right">
            <ul>
              <li v-for="(link, index) in links"><a href="#">{{ link }}</a></li>
              <li><a href="#">Store</a><small class="new">new</i></small></li>
              <!-- bottone scarica app -->
              <button type="button" name="button">Schedule a workout</button>
              <li class="carrello"><i class="fas fa-shopping-cart"></i></li>
              <li class="cerca"><i class="fas fa-search"></i></li>
            </ul>
          </div>
        </section>
        <div class="contenitoreOver">
          <div class="contenitore img">
            <div class="colore">
              <div class="testo">
                  <h2>Certified fitness professional</h2>
                  <h1 class="firstBanner">Take control of your healt</h1>
                  <i class="fas fa-water"></i>
                  <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet.</p>
                  <button class="visit"><i class="fab fa-youtube"></i>  Visit my YouTube channel</button>
                  <button class="buy">Buy Avada today   <i class="fas fa-arrow-right"></i></i></button>
                  <br>
                  <div class="bigplay">
                    <i class="fas fa-play"></i>
                  </div>
                  <!-- da aggiungere due quadratini in alto a destra e provare modifiche effetto  -->
              </div>
            </div>
          </div>
          <section class="arcobaleno">
            <div class="cubo3">
              <div class="immaginiMeta crossfit">
                <div class="testoCubo3">
                  <i class="fas fa-water cubo"></i>
                  <h2>Crossfit workout</h2>
                  <h3>Marketing Hub</h3>
                </div>
              </div>
              <div class="immaginiMeta newGym">
                <div class="testoCubo3">
                  <i class="fas fa-water cubo"></i>
                  <h2>New gym apparel</h2>
                  <h3>Look good,feel good</h3>
                </div>
              </div>
              <div class="immaginiMeta teamTraining">
                <div class="testoCubo3">
                  <i class="fas fa-water cubo"></i>
                  <h2>Team training</h2>
                  <h3>Find a partner</h3>
                </div>
              </div>
            </div>
            <div class="citazione">
              <h1>"How you respond to the challenge in the second half <h1>
              <h1>will determine what you become after the game</h1>
              <h1>wheter you are a winner or a loser."</h1>
              <h1><i class="fas fa-water"></i></h1>
            </div>
            <div class="user">
              <ul>
                <li><img src="img/brad.jpg" alt="user brad"></li>
                <p class="nome">Brad Johnson</p>
                <p>Las Vegas</p>
              </ul>
            </div>
          </section>
          <div class="sezioneYoutube">
            <div class="sezione-d">
              <h2>Tune up your workouts</h2>
              <h1>The best health & fitness <br> advice online</h1>
              <ul class="fusionChannel">
                <li><img src="img/unnamed.jpg" alt="logostrano"></li>
                <li><small class="nomeChannel">ThemeFusion</small> <br>
                <section class="buttonSubscribe"><button class="youtubeChannel"><i class="fab fa-youtube"></i>YouTube</button>
                <small class="iscritti">999+</small></section></li>
              </ul>
              <p>Arcu eu facilisi ut quisque placerat nunc habitant.Magna semper mauris,venevatis,<br>leo integer sit pellentesque.</p>
              <button class="red"><i class="fab fa-youtube"></i>  Visit my YouTube channel</button>
                    <!-- da aggiungere due quadratini in alto a destra e provare modifiche effetto  -->
            </div>
            <div class="sezione-s">
              <div class="overlayGrande">
                <i class="fas fa-play"></i>
              </div>
              <img src="img/addome.jpg" alt="immagine donna">
            </div>
        </div>
        </div>
      </header>
      <main>
        <div class="titololink">
          <h2>Feutured playlists</h2>
          <a href="#">View all videos > </a>
        </div>
        <div class="treVideo">
          <div class="video">
            <div class="imgvideo">
              <div class="overlay">
                <i class="fas fa-play"></i>
              </div>
                  <img src="img/video1.jpg." alt="">
            </div>
            <h2 class="titolo">Thights & glute workout</h2>
            <p class="descrizione">Increase your mobility</p>
          </div>
          <div class="video">
            <div class="imgvideo">
              <div class="overlay">
                <i class="fas fa-play"></i>
              </div>
                  <img src="img/video2.jpg." alt="">
            </div>
                <h2 class="titolo">Lift,firm & perk up</h2>
                <p class="descrizione">Fell young again</p>
          </div>
          <div class="video">
            <div class="imgvideo">
              <div class="overlay">
                <i class="fas fa-play"></i>
              </div>
                  <img src="img/video3.jpg." alt="">
            </div>
                <h2 class="titolo">Slim & trim your waist</h2>
                <p class="descrizione">Shed those extra pounds</p>
          </div>
        </div>
          <div class="contenitore img treragazze">
            <div class="colore">
              <div class="testo">
                <h2>Join our mailing list today</h2>
                <h1>Insider offers & flash sales in your <br>inbox every week. </h1>
                <i class="fas fa-water"></i> <br>
                <input v-model="newMail" @keyup.enter="aggMail" type="text" placeholder="Insert your email...*">
                <button @click="aggMail" class="suscribe">Buy Avada today   <i class="fas fa-arrow-right"></i></i></button>
                <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet,consectetur <br> adispiscing elit sed porttitor lectus.</p>
              </div>
            </div>
          </div>
        <div class="background">
          <div class="rettangoli">
            <div class="rettangolo">
              <i class="fas fa-stopwatch"></i>
              <h1>Team training</h1>
              <h2 class="yellow">Find a partner</h2>
              <p class="descrizioneRettangoli">Vestibulum,curabitur eu sem nibh <br> ultrices sit nulla adispicing.Nist sit fames <br> amet senectus eget sed duis vehicula. <br> Tristique.</p>
              <a class="link" href="#">Find a partner > </a>
            </div>
            <div class="rettangolo">
              <i class="fas fa-dumbbell"></i>
              <h1>Crossfit workout</h1>
              <h2 class="yellow">Push your limits</h2>
              <p class="descrizioneRettangoli">Vestibulum,curabitur eu sem nibh <br> ultrices sit nulla adispicing.Nist sit fames <br> amet senectus eget sed duis vehicula. <br> Tristique.</p>
              <a class="link" href="#">Learn about Crossfit > </a>
            </div>
            <div class="rettangolo">
              <i class="fas fa-weight"></i>
              <h1>Weight loss pain</h1>
              <h2 class="yellow">Shed those pounds</h2>
              <p class="descrizioneRettangoli">At laoreet senectus volutpat diam vel sed <br> sed amet pellentesque. Lobortis ut <br>aliquam risus purus. A tellus ut etiam.</p>
              <a class="link" href="#">Schedule a workout > </a>
            </div>
          </div>
        </div>
        <div class="titololink immagini">
          <h2>Latest articles</h2>
          <a href="#">Read all articles > </a>
        </div>
        <div class="treVideo">
          <div class="video">
            <div class="imgfoto">
              <img src="img/pesi.jpg." alt="">
            </div>
            <h2 class="foto">The best protein shake</h2>
            <p class="foto">By admin | November 26th, 2019 | Gym</p>
          </div>
          <div class="video">
            <div class="imgfoto">
              <img src="img/muscolo.jpg." alt="">
            </div>
            <h2 class="foto">Ultimate cardio workout</h2>
            <p class="foto">By admin | November 26th, 2019 | Gym </p>
          </div>
          <div class="video">
            <div class="imgfoto">
              <img src="img/bevande.jpg." alt="">
            </div>
            <h2 class="foto">New juices available now</h2>
            <p class="foto">By admin | November 26th, 2019 | Gym</p>
          </div>
        </div>
          <div class="failed">
            <div class="overlayBanner">
              <h1>"I've failed over and over again in my <br> life. And that is why i succeed."</h1>
              <i class="fas fa-water"></i>
              <p>Arcu auctor gravida nils,congue sit nisi tincidunt eget proin.In lacinia lacus donec sed massa <br> in ipsum eros,tristique.Gravida suspendisse etiam in iaculis </p>
              <button class="suscribe" type="button" name="button">Buy avada today > </button>
            </div>
          </div>
          <div class="sponsors">
            <div class="sponsor">
              <div class="imgsponsor">
                <img src="img/sponsor1.png." alt="">
              </div>
              <i class="fas fa-water mezzo"></i>
              <p class="testosponsor">Tristique aliquam in nullam habitasse <br> nunc,amet vel concectetur.Nulla in <br> suspendisse dolor,aliquet.</p>
              <a href="#">Visit yoga studio > </a>
            </div>
            <div class="sponsor">
              <div class="imgsponsor">
                    <img src="img/sponsor2.png." alt="">
              </div>
              <i class="fas fa-water mezzo"></i>
              <p class="testosponsor">Feugiat etiam dui marius pharetra <br> mauris sed pharetra.Convallis sapien <br> ornare cras faucibus nulla porta dui a. </p>
              <a href="#">Join Fitness Center > </a>
            </div>
            <div class="sponsor">
              <div class="imgsponsor">
                <img src="img/sponsor3.png." alt="">
              </div>
              <i class="fas fa-water mezzo"></i>
              <p class="testosponsor">Nisl at quam adispicing montes,nec, <br> adispicing commodo aliquam tincidunt. <br> Ligula in habitant et sagittatis imperdiet </p>
              <a href="#">Learn about FC > </a>
            </div>
            <div class="sponsor">
              <div class="imgsponsor">
                <img src="img/sponsor4.png." alt="">
              </div>
              <i class="fas fa-water mezzo"></i>
              <p class="testosponsor">Proin in viverra maecenas et mattis ut <br> nibh enim.Gravida ultricies mi porta <br> lacus.Et posuere velit sed nec eleifend </p>
              <a href="#">Visit Power Gym ></a>
            </div>
        </div>
        <div class="panca">
          <div class="overlayBanner">
            <i class="fas fa-play workout"></i>
            <h1>Crossfit workout of the day</h1>
            <h2>November 15th, 2019</p>
            <a href="#">View all videos  <i class="fas fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </main>
      <footer>
        <section class="contact">
          <div class="rettangoloContact">
            <img src="img/logo.png" alt="logo avada fitness">
            <p class="descrizioneContact">Ac aliquam neque sagittis diam faucibus vitae <br>purus turpis phasellus.Pellentesque consectetur <br>amet purus ultrices mauris.</p>
            <div class="iconeSocial">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
          <div class="rettangoloContact">
            <h1>RECENT POST</h1>
            <ul class="recent">
              <li class="recentPost" v-for="(post, index) in posts">
                <a href="#" > > {{ post }} </a>
              </li>
            </ul>
          </div>
          <div class="rettangoloContact">
            <h1>CONTACT INFORMATIONS</h1>
            <p class="descrizioneContact">4746 Tipple Road Michigan 48499</p>
            <h2>Mobile: 1.800.000.0000</h2>
            <h2>Email: info@your-company.com</h2>
          </div>
        </section>
        <hr color="#78787a" size="2px" >
        <section class="copyright">
          <p class="descrizioneContact">Copyright 2012-2020 | Avada theme by</p>
          <p class="copyrightBianchi">&ensp; ThemeFusion &ensp; </p>
          <p class="descrizioneContact">| All rights reserved | Powered by &ensp;</p>
          <p class="copyrightBianchi"> WordPress</p>
        </section>
      </footer>
    </div>
  </body>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
